In [50]:
import pandas as pd
import requests
import numpy as np

In [3]:
r1 = requests.get("https://api.covid19india.org/raw_data1.json").json()
r2 = requests.get("https://api.covid19india.org/raw_data2.json").json()
r3 = requests.get("https://api.covid19india.org/raw_data3.json").json()

In [4]:
r1.keys(), r2.keys(), r3.keys()

(dict_keys(['raw_data']), dict_keys(['raw_data']), dict_keys(['raw_data']))

In [7]:
gender = pd.DataFrame(r1['raw_data'])['gender']

In [17]:
type(gender)

pandas.core.series.Series

In [9]:
import plotly.graph_objects as go

In [12]:
go.Pie(values=gender)

array(['F', '', '', ..., 'M', 'M', 'M'], dtype=object)

In [19]:
gender.value_counts()['M']

2523

In [11]:
pd.DataFrame(r1['raw_data'])[['gender', 'agebracket']]

      gender agebracket
0          F         20
1
2
3          M         45
4          M         24
...      ...        ...
17301
17302
17303      M         30
17304      M         36
17305      M         52

[17306 rows x 2 columns]

In [12]:
df1 = pd.DataFrame(r1['raw_data'])[['gender', 'agebracket']]
df2 = pd.DataFrame(r2['raw_data'])[['gender', 'agebracket']]
df3 = pd.DataFrame(r3['raw_data'])[['gender', 'agebracket']]

In [17]:
raw_df = pd.concat([df1,df2,df3])

In [27]:
raw_df['agebracket'].value_counts()

       27848
35       140
40       128
30       125
32       125
       ...
96         1
1.5        1
0.3        1
89         1
83         1
Name: agebracket, Length: 95, dtype: int64

In [28]:
raw_df['gender'].value_counts()

              24890
M              4678
F              2401
Non-Binary        1
Name: gender, dtype: int64

In [29]:
"A"> 0

TypeError: '>' not supported between instances of 'str' and 'int'

In [39]:
df1['agebracket'].value_counts()

       15636
35        67
32        52
40        49
55        45
       ...
96         1
1.5        1
89         1
92         1
79         1
Name: agebracket, Length: 89, dtype: int64

In [46]:
bool(df1['agebracket'][0])

True

In [52]:
a = df1['agebracket'].apply(lambda x: x if bool(x) else np.nan)

In [64]:
a.dropna(inplace=True)

In [65]:
a

0        20
3        45
4        24
5        69
6        55
         ..
16135    30
16136    50
17303    30
17304    36
17305    52
Name: agebracket, Length: 1670, dtype: object

In [66]:
df1

      gender agebracket
0          F         20
1
2
3          M         45
4          M         24
...      ...        ...
17301
17302
17303      M         30
17304      M         36
17305      M         52

[17306 rows x 2 columns]